# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
generated_plugin_registrant.dart

# Android related
**/android/.gradle/
**/android/captures/
**/android/.idea/
**/android/local.properties

# iOS/macOS related
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/.symlinks/
**/ios/Pods/
**/ios/.flutter-plugins
**/ios/.flutter-plugins-dependencies
**/ios/Runner.xcworkspace/
**/ios/build/
**/macos/Flutter/
**/macos/Pods/
**/macos/build/
**/macos/.flutter-plugins
**/macos/.flutter-plugins-dependencies

# Web related
**/web/.dart_tool/
**/web/build/

# Linux/Windows related
**/linux/flutter/
**/linux/build/
**/windows/flutter/
**/windows/build/

# VS Code & IntelliJ related
.vscode/
.idea/
*.iml

# Misc
*.log
*.lock
pubspec.lock
.env
